In [1]:
import pandas as pd
import numpy as np
import os

%matplotlib inline

Bad key text.latex.preview in file /Users/vorsi/opt/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 123 ('text.latex.preview : False')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.7.4/lib/matplotlib/mpl-data/matplotlibrc
or from the matplotlib source distribution

Bad key mathtext.fallback_to_cm in file /Users/vorsi/opt/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 155 ('mathtext.fallback_to_cm : True  # When True, use symbols from the Computer Modern')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.7.4/lib/matplotlib/mpl-data/matplotlibrc
or from the matplotlib source distribution

Bad key savefig.jpeg_quality in file /Users/vorsi/opt/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 418 ('savefig.jpeg_quality: 95       # when a jpeg is saved, the default quality parameter.')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.7.4/lib/matplotlib/mpl-data/matplotlibrc
or from the matplotlib source distribution

Bad key keymap.all_axes in file /Users/vorsi/opt/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 466 ('keymap.all_axes : a                 # enable all axes')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.7.4/lib/matplotlib/mpl-data/matplotlibrc
or from the matplotlib source distribution

Bad key animation.avconv_path in file /Users/vorsi/opt/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 477 ('animation.avconv_path: avconv     # Path to avconv binary. Without full path')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.7.4/lib/matplotlib/mpl-data/matplotlibrc
or from the matplotlib source distribution

Bad key animation.avconv_args in file /Users/vorsi/opt/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 479 ('animation.avconv_args:            # Additional arguments to pass to avconv')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.7.4/lib/matplotlib/mpl-data/matplotlibrc
or from the matplotlib source distribution

In [4]:
data=pd.read_csv('behance_sample1_with_femaleness.csv')

In [7]:
#data['username']

In [25]:
data[data['user_id']==1313349]

,user_id,fields,followers,following,username,gender,country,comments,project_counts,project_views,...,Branding,Art_Direction,Digital_Art,Fashion_Photography,Fine_Arts,Web_design_UX,Advertising,gender_female,gender_male,femaleness_2_new
46,1313349,Graphic Design|Branding|Typography,1401,2208,nicky-genov,male,Bulgaria,6259,7,72395,...,1.363678,-2.098721,-0.699705,0.700807,0.062761,-1.254402,0.737132,0,1,0.282373

In [5]:
pwd

'/Users/orsi/Dropbox/behance-data'

In [8]:
path='/Users/vorsi/Dropbox/behance-data/behance_projects/'
files=[f for f in os.listdir(path) if f.endswith(".csv")]

In [9]:
import datetime

In [10]:
files

['behance_user_projects2000.csv',
 'behance_user_projects11000.csv',
 'behance_user_projects8000.csv',
 'behance_user_projects4000.csv',
 'behance_user_projects6000.csv',
 'behance_user_projects3000.csv',
 'behance_user_projects12000.csv',
 'behance_user_projects10000.csv',
 'behance_user_projects1000.csv',
 'behance_user_projects9000.csv',
 'behance_user_projects5000.csv',
 'behance_user_projects7000.csv']

In [11]:
t=pd.read_csv(path+sorted(files)[0])
t['created2'] = pd.to_datetime(t['created'],unit='s')

In [12]:
t[20:]

,Unnamed: 0,created,owners,project_id,stats,user_id,created2
20,20,1.360864e+09,[181566],7155141.0,"{'views': 2564, 'appreciations': 42, 'comments...",181566.0,2013-02-14 17:45:50
21,21,1.359903e+09,[181566],6977275.0,"{'views': 816, 'appreciations': 13, 'comments'...",181566.0,2013-02-03 14:46:34
22,22,1.340291e+09,[181566],4301189.0,"{'views': 1417, 'appreciations': 19, 'comments...",181566.0,2012-06-21 15:07:44
23,23,1.340189e+09,[181566],4285879.0,"{'views': 347, 'appreciations': 7, 'comments': 0}",181566.0,2012-06-20 10:46:30
24,24,1.277199e+09,[181566],551194.0,"{'views': 189, 'appreciations': 7, 'comments': 0}",181566.0,2010-06-22 09:32:29
...,...,...,...,...,...,...,...
45326,45326,1.380819e+09,[1204165],11270577.0,"{'views': 438, 'appreciations': 22, 'comments'...",1204165.0,2013-10-03 16:50:29
45327,45327,1.380573e+09,[1204165],11207241.0,"{'views': 349, 'appreciations': 19, 'comments'...",1204165.0,2013-09-30 20:26:23
45328,45328,1.344619e+09,[1204165],4786761.0,"{'views': 389, 'appreciations': 9, 'comments': 0}",1204165.0,2012-08-10 17:10:12
45329,45329,1.385143e+09,[1204165],12360659.0,"{'views': 244, 'appreciations': 8, 'comments': 0}",1204165.0,2013-11-22 17:53:32
45330,45330,1.381515e+09,[1204165],11431315.0,"{'views': 399, 'appreciations': 44, 'comments'...",1204165.0,2013-10-11 18:02:16

In [13]:
t[t['user_id']==1313349].sort_values(by='created2', ascending=False)['created2'][0]

Timestamp('2016-05-09 11:14:09')

In [14]:
# ollection time plus one year
collection_time=datetime.datetime(2017,11,1)

In [30]:
users=list(data['user_id'])

In [54]:
t[t['user_id']==u].sort_values(by='created2', ascending=False)['created2'].iloc[0]

Timestamp('2015-08-08 11:13:08')

In [16]:
from collections import defaultdict

user_surv=defaultdict(tuple)
for f in files[1:]:
    t=pd.read_csv(path+f)
    t['created2'] = pd.to_datetime(t['created'],unit='s')
    for u in list(t['user_id']):
        last_act=t[t['user_id']==u].sort_values(by='created2', ascending=False)['created2'].iloc[0]
        if last_act>collection_time:
            surv=1
        else:
            surv=0
        user_surv[u]=((last_act,surv))

In [17]:
users_survival=pd.DataFrame(user_surv).T

In [18]:
users_survival2=users_survival.rename(columns={0:'last_activity', 1:'survival'})

In [19]:
users_survival2.head()

                 last_activity survival
4929539.0  2014-03-02 14:39:33        0
9748109.0  2018-10-22 15:57:14        1
21331677.0 2018-10-10 11:34:09        1
1582083.0  2018-06-12 18:49:49        1
169406.0   2017-09-28 22:34:04        0

In [20]:
users_survival2.to_csv("/Users/vorsi/Dropbox/behance-data/NEW_ANALYSIS/data/behance/survival_behance.csv")

In [69]:
data2=data.set_index('user_id').join(users_survival2)

In [93]:
data2['survival2']=data2['survival'].replace(np.nan, 3)

In [96]:
data2['survival2'].value_counts()

0    6152
1    4705
3    1143
Name: survival2, dtype: int64

In [210]:
def survival_clean(row):
    if row['survival']==0:
        return 1
    elif row['survival']==1:
        return 1
    else:
        return 0

In [211]:
data2['survivial_clean']=data2.apply(survival_clean, 1)

In [97]:
data2.to_csv('sample1_with_femaleness_PCA_survival.csv')

In [75]:
#missing_data=list(set(data2.index)-set(data2[pd.notna(data2['survival'])].index))

# add contributors

In [153]:
from ast import literal_eval
def has_contributors(row):
    if len(literal_eval(row['owners']))>1:
        return 1
    else:
        return 0

In [184]:
from collections import defaultdict

#user_contr=defaultdict(list)
for f in files[1:]:
    t=pd.read_csv(path+f)
    t['created2'] = pd.to_datetime(t['created'],unit='s')
    t['before2016nov']=t['created2']<=datetime.datetime(2016,11,1)
    t2016['rel']=t2016.apply(has_contributors,1)
    t2016_cont=t2016[t2016['rel']==1]
    contributors_dict=t2016_cont[['owners','user_id']].set_index('user_id').to_dict()['owners']
    for user_id, contributors in contributors_dict.items():
        for c in literal_eval(contributors):
            if c!= user_id and c not in user_contr[user_id]:
                user_contr[user_id].append(c)

# import all known gender

In [186]:
full_data=pd.read_csv("users-100-restored.csv")

In [221]:
len(user_contr)/len(data)

0.052

In [188]:
genders=full_data[['user_id', 'gender']].set_index('user_id').to_dict()['gender']

In [191]:
len(genders)

37777

In [200]:
missing_profiles=[]
cont_gender=defaultdict(list)
num_cont=defaultdict(int)
for user_id, contributors in user_contr.items():
    num_cont[user_id]=len(contributors)
    for c in contributors:
        if c in genders.keys():
            gen_of_cont=genders[c]
        else:
            gen_of_cont='unknown'
            missing_profiles.append(c)
        cont_gender[user_id].append(gen_of_cont)

In [214]:
contr=pd.DataFrame.from_dict(num_cont, 'index').rename(columns={0:'number_of_contributors'})

In [217]:
data3=data2.join(contr)
data3['number_of_contributors']=data3['number_of_contributors'].replace(np.nan,0)

In [219]:
data3.to_csv('sample1_with_femaleness_PCA_survival_contributors.csv')